//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  ws-category-edit {
    width: 100%;
  }
  .category-path {
    font-style: italic;
    color: $font-disabled-color;
  }
  .depth-divider {
    width: 15px;
  }
}
