//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  ws-panel {
    display: flex;
    ws-product-price-report-category-tree {
      width: 250px;
      border-right: 1px solid $color-grey-200;
      padding-right: 10px;
    }
    ws-product-price-report-panel {
      padding-left: 10px;
      flex: 1;
    }
  }
}
