@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('#{$dir-assets-fonts}/roboto/roboto-light.woff2') format('woff2'), url('#{$dir-assets-fonts}/roboto/roboto-light.woff') format('woff'), url('#{$dir-assets-fonts}/roboto/roboto-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('#{$dir-assets-fonts}/roboto/roboto-regular.woff2') format('woff2'), url('#{$dir-assets-fonts}/roboto/roboto-regular.woff') format('woff'), url('#{$dir-assets-fonts}/roboto/roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('#{$dir-assets-fonts}/roboto/roboto-medium.woff2') format('woff2'), url('#{$dir-assets-fonts}/roboto/roboto-medium.woff') format('woff'), url('#{$dir-assets-fonts}/roboto/roboto-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('#{$dir-assets-fonts}/roboto/roboto-bold.woff2') format('woff2'), url('#{$dir-assets-fonts}/roboto/roboto-bold.woff') format('woff'), url('#{$dir-assets-fonts}/roboto/roboto-bold.ttf') format('truetype');
}
