ws-receipt-add {
  display: block;
  .receipt-main, .receipt-items {
    margin-bottom: 15px;
  }
  .receipt-item {
    display: flex;
    flex-direction: row;
  }
  .select-item-description, .dynamic-select-item {
    font-style: italic;
    font-size: 0.9em;
    color: darkgray;
  }
  .dynamic-select-item {
    color: darkred;
  }
  .select-product-cell {
    display: flex;
  }
  .receipt-summary {
    display: flex;
    flex-direction: row-reverse;
    & > div:not(:first-child) {
      margin-right: 15px;
    }
    .receipt-summary-cell {
      color: $color-grey-500;
      font-style: italic;
      font-size: 0.9em;
    }
    .receipt-header {
      flex: 1;
    }
  }
}
