//noinspection CssUnknownTarget
@import 'common';

:host {
  @include flex();
  .category-name {
    flex: 1;
  }
  .category-parent-category {
    flex: 1;
  }
  .select-item-description {
    color: $color-grey-400;
    font-style: italic;
  }
}
