ws-product-list-item {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: background-color 400ms;
  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }
  .item-summary {
    flex: 1;
  }
  .item-actions {
    display: flex;
  }
  &:hover {
    background-color: #fafafa;
  }
  ws-product-edit {
    flex: 1;
  }
}
