//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  .new-product-category-row {
    @include flex();
    margin: 6px 0 3px 0;
    align-items: center;
    ws-select {
      flex: 1;
      margin-left: 5px;
    }

    @media (max-width: $mobile-layout-max-width) {
      flex-direction: column;

      ws-select {
          margin-left: 0;
          width: 100%;
      }

      .new-product-category-label {
        width: 100%;
        color: $color-grey-600;
        font-size: 12px;
      }
    }


  }
  .dynamic-select-item {
    color: $color-red-800;

  }
  .select-item-description {
    color: $color-grey-400;
    font-style: italic;
  }
}
