//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  .new-product-category-row {
    display: flex;
    margin: 6px 0 3px 0;
    align-items: center;
    ws-select {
      flex: 1;
      margin-left: 5px;
    }
  }
  .dynamic-select-item {
    color: $color-red-800;
  }
  .select-item-description {
    color: $color-grey-400;
    font-style: italic;
  }
}
