@import '../../../common';

:host {
  display: block;
  .subcategories {
    padding-left: 25px;
  }
  .description {
    cursor: pointer;
  }
  .category-summary {
    font-style: italic;
    color: $font-disabled-color;
  }
}
