@mixin flex() {
  display: flex;
  & > * {
    min-width: 1px;
  }
}
@mixin link-color-with-hover() {
  color: #0277bd;
  transition: color 400ms;
  &:hover {
    color: #81d4fa;
  }
}
@mixin flex-grid($maxColumns: 10) {
  .row {
    @include flex();
  }
  @for $i from 1 through $maxColumns {
    .column-#{$i} {
      flex: $i;
    }
  }
}
