//noinspection CssUnknownTarget
@import 'common';

:host {
  @include flex();
  flex: 1;
  flex-direction: row;
  .product-name {
    flex: 3;
  }
  .product-category {
    flex: 1;
  }
  .product-producer {
    flex: 1;
  }
  .select-item-description {
    color: $color-grey-400;
    font-style: italic;
  }
}
