//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  .item {
    @include flex();
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  .label {
    width: 100px;
    margin-right: 5px;
  }
}
