@import '../../../common';

:host {
  display: block;
  .list-item {
    padding-top: 4px;
    padding-bottom: 4px;
    transition: background-color 400ms;
    &:hover {
      background-color: #fafafa;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }
  }
}
