//noinspection CssUnknownTarget
@import 'common';

:host {
  display: block;
  .item {
    display: flex;
  }
  .item-renderer {
    display: flex;
    flex: 1;
  }
  .item-actions {
    display: flex;
    min-width: 150px;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .action-message {
    color: $color-red-800;
  }
}
